<ng-container *ngFor="let book of books; index as i;" >
    <section>
        <button attr.aria-controls="book-{{i}}" attr.aria-expanded="{{book.expanded}}" id="book-button-{{i}}" class="book" (click)="book.expanded = !book.expanded">
            {{ book.Authors }} - {{ book.Title }}
        </button>
        <p class="description" id="book-{{i}}">
            {{ book.Description }}
        </p>
    </section>
</ng-container>
<mat-paginator
    *ngIf="books.length > 0 || pageIndex > 0"
    (page)="handlePageEvent($event)"
    [length]="pageIndex*10 + books.length + 1"
    [hidePageSize]=true
    [pageSize]="pageSize"
    [pageIndex]="pageIndex">
</mat-paginator>
<p *ngIf="responseTime > 0" class="responseTime">
    Response time: {{ responseTime }}ms
</p>